<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>data</key>
		<array>
			<string>感冒</string>
			<string>糖尿病</string>
			<string>高血脂</string>
			<string>高血压</string>
			<string>冠心病</string>
			<string>脑供血不足</string>
			<string>肺炎</string>
			<string>便秘</string>
			<string>眩晕</string>
			<string>脑梗塞</string>
			<string>腹泻</string>
			<string>慢性胃炎</string>
			<string>哮喘</string>
			<string>偏头痛</string>
			<string>心肌梗死</string>
			<string>甲亢</string>
			<string>胃病</string>
			<string>胃肠炎</string>
			<string>帕金森病</string>
			<string>脂肪肝</string>
			<string>缺铁性贫血</string>
			<string>贫血</string>
			<string>低血压</string>
			<string>心肌炎</string>
			<string>肾积水</string>
			<string>心律失常</string>
			<string>脑血栓</string>
			<string>空调病</string>
			<string>支气管扩张</string>
			<string>蛛网膜下腔出血</string>
			<string>三叉神经痛</string>
			<string>心脏神经官能症</string>
			<string>肝囊肿</string>
			<string>肾盂肾炎</string>
			<string>内分泌失调</string>
			<string>肾病综合征</string>
			<string>动脉粥样硬化</string>
			<string>胃溃疡</string>
			<string>老年人肺炎</string>
			<string>消化道出血</string>
			<string>头痛</string>
			<string>神经衰弱</string>
			<string>肥胖症</string>
			<string>黄疸</string>
			<string>脑萎缩</string>
			<string>晕动病</string>
			<string>肝硬化</string>
			<string>失眠</string>
			<string>肺栓塞</string>
			<string>食物中毒</string>
			<string>中暑</string>
			<string>癫痫</string>
			<string>胃痛</string>
			<string>胆囊炎</string>
		</array>
		<key>imageName</key>
		<array>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>高血脂</string>
			<string>高血压</string>
			<string>冠心病</string>
			<string>脑供血不足</string>
			<string>肺炎</string>
			<string>便秘</string>
			<string>眩晕</string>
			<string>脑梗塞</string>
			<string>腹泻</string>
			<string>慢性胃炎</string>
			<string>哮喘</string>
			<string>偏头痛</string>
			<string>心肌梗死</string>
			<string>甲亢</string>
			<string>胃病</string>
			<string>胃肠炎</string>
			<string>帕金森病</string>
			<string>脂肪肝</string>
			<string>缺铁性贫血</string>
			<string>贫血</string>
			<string>低血压</string>
			<string>心肌炎</string>
			<string>肾积水</string>
			<string>心律失常</string>
			<string>脑血栓</string>
			<string>空调病</string>
			<string>支气管扩张</string>
			<string>蛛网膜下腔出血</string>
			<string>三叉神经痛</string>
			<string>心脏神经官能症</string>
			<string>肝囊肿</string>
			<string>肾盂肾炎</string>
			<string>内分泌失调</string>
			<string>肾病综合征</string>
			<string>动脉粥样硬化</string>
			<string>胃溃疡</string>
			<string>老年人肺炎</string>
			<string>消化道出血</string>
			<string>头痛</string>
			<string>神经衰弱</string>
			<string>肥胖症</string>
			<string>黄疸</string>
			<string>脑萎缩</string>
			<string>晕动病</string>
			<string>肝硬化</string>
			<string>失眠</string>
			<string>肺栓塞</string>
			<string>食物中毒</string>
			<string>中暑</string>
			<string>癫痫</string>
			<string>胃痛</string>
			<string>胆囊炎</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>外科</string>
		<key>data</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>尿路感染</string>
			<string>乳腺炎</string>
			<string>乳腺增生</string>
			<string>骨质疏松</string>
			<string>肩周炎</string>
			<string>脑震荡</string>
			<string>肾小球肾炎</string>
			<string>直肠息肉</string>
			<string>烧伤</string>
			<string>皮肤擦伤</string>
			<string>骨关节炎</string>
			<string>尿路结石</string>
			<string>腰痛</string>
			<string>阑尾炎</string>
			<string>乳腺纤维瘤</string>
			<string>颈椎病</string>
			<string>痔疮</string>
			<string>胆结石</string>
			<string>淋巴结炎</string>
		</array>
		<key>imageName</key>
		<array>
			<string>腰椎间盘突出症</string>
			<string>尿路感染</string>
			<string>乳腺炎</string>
			<string>乳腺增生</string>
			<string>骨质疏松</string>
			<string>肩周炎</string>
			<string>脑震荡</string>
			<string>肾小球肾炎</string>
			<string>直肠息肉</string>
			<string>烧伤</string>
			<string>皮肤擦伤</string>
			<string>骨关节炎</string>
			<string>尿路结石</string>
			<string>腰痛</string>
			<string>阑尾炎</string>
			<string>乳腺纤维瘤</string>
			<string>颈椎病</string>
			<string>痔疮</string>
			<string>胆结石</string>
			<string>淋巴结炎</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>中医科</string>
		<key>data</key>
		<array>
			<string>肾虚</string>
			<string>跌打损伤</string>
			<string>气血虚弱</string>
			<string>中风</string>
		</array>
		<key>imageName</key>
		<array>
			<string>肾虚</string>
			<string>跌打损伤</string>
			<string>气血虚弱</string>
			<string>中风</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>男科</string>
		<key>data</key>
		<array>
			<string>前列腺炎</string>
			<string>早泄</string>
			<string>阳痿</string>
			<string>龟头炎</string>
			<string>性功能障碍</string>
			<string>前列腺增生</string>
		</array>
		<key>imageName</key>
		<array>
			<string>前列腺炎</string>
			<string>早泄</string>
			<string>阳痿</string>
			<string>龟头炎</string>
			<string>性功能障碍</string>
			<string>前列腺增生</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>五官科</string>
		<key>data</key>
		<array>
			<string>口臭</string>
			<string>结膜炎</string>
			<string>牙痛</string>
			<string>眼疲劳</string>
			<string>鼻塞</string>
			<string>近视眼</string>
			<string>弱视</string>
			<string>沙眼</string>
			<string>耳聋</string>
			<string>红眼病</string>
			<string>牙周炎</string>
			<string>鼻出血</string>
			<string>鼻窦炎</string>
			<string>白内障</string>
			<string>麦粒肿</string>
			<string>夜盲症</string>
			<string>青光眼</string>
			<string>角膜挫伤</string>
			<string>口腔溃疡</string>
			<string>鼻炎</string>
			<string>咽炎</string>
			<string>中耳炎</string>
			<string>干眼症</string>
			<string>牙龈炎</string>
		</array>
		<key>imageName</key>
		<array>
			<string>口臭</string>
			<string>结膜炎</string>
			<string>牙痛</string>
			<string>眼疲劳</string>
			<string>鼻塞</string>
			<string>近视眼</string>
			<string>弱视</string>
			<string>沙眼</string>
			<string>耳聋</string>
			<string>红眼病</string>
			<string>牙周炎</string>
			<string>鼻出血</string>
			<string>鼻窦炎</string>
			<string>白内障</string>
			<string>麦粒肿</string>
			<string>夜盲症</string>
			<string>青光眼</string>
			<string>角膜挫伤</string>
			<string>口腔溃疡</string>
			<string>鼻炎</string>
			<string>咽炎</string>
			<string>中耳炎</string>
			<string>干眼症</string>
			<string>牙龈炎</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>风湿免疫科</string>
		<key>data</key>
		<array>
			<string>红斑狼疮</string>
			<string>痛风</string>
			<string>风湿性关节炎</string>
		</array>
		<key>imageName</key>
		<array>
			<string>红斑狼疮</string>
			<string>痛风</string>
			<string>风湿性关节炎</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>妇科</string>
		<key>data</key>
		<array>
			<string>子宫肌瘤</string>
			<string>月经失调</string>
			<string>卵巢早衰</string>
			<string>早孕反应</string>
			<string>阴道瘙痒</string>
			<string>痛经</string>
			<string>宫颈糜烂</string>
			<string>羊水栓塞</string>
			<string>妊娠高血压</string>
			<string>宫外孕</string>
			<string>妇科炎症</string>
			<string>性交疼痛</string>
			<string>避孕</string>
			<string>白带异常</string>
			<string>阴道炎</string>
			<string>更年期综合征</string>
			<string>功能性子宫出血</string>
			<string>卵巢囊肿</string>
		</array>
		<key>imageName</key>
		<array>
			<string>子宫肌瘤</string>
			<string>月经失调</string>
			<string>卵巢早衰</string>
			<string>早孕反应</string>
			<string>阴道瘙痒</string>
			<string>痛经</string>
			<string>宫颈糜烂</string>
			<string>羊水栓塞</string>
			<string>妊娠高血压</string>
			<string>宫外孕</string>
			<string>妇科炎症</string>
			<string>性交疼痛</string>
			<string>避孕</string>
			<string>白带异常</string>
			<string>阴道炎</string>
			<string>更年期综合征</string>
			<string>功能性子宫出血</string>
			<string>卵巢囊肿</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>传染病科</string>
		<key>data</key>
		<array>
			<string>结核病</string>
			<string>肝炎</string>
			<string>流脑</string>
			<string>乙肝</string>
			<string>流行性腮腺炎</string>
			<string>麻疹</string>
			<string>狂犬病</string>
			<string>天花</string>
		</array>
		<key>imageName</key>
		<array>
			<string>结核病</string>
			<string>肝炎</string>
			<string>流脑</string>
			<string>乙肝</string>
			<string>流行性腮腺炎</string>
			<string>麻疹</string>
			<string>狂犬病</string>
			<string>天花</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>皮肤科</string>
		<key>data</key>
		<array>
			<string>毛囊炎</string>
			<string>湿疹</string>
			<string>汗疱疹</string>
			<string>疥疮</string>
			<string>斑秃</string>
			<string>痤疮</string>
			<string>灰指甲</string>
			<string>痱子</string>
			<string>牛皮癣</string>
			<string>疣</string>
			<string>日光性皮炎</string>
			<string>手足癣</string>
			<string>皮肤过敏</string>
			<string>狐臭</string>
			<string>白癜风</string>
			<string>老年斑</string>
			<string>脱发</string>
			<string>皮炎</string>
			<string>尖锐湿疣</string>
			<string>皮肤瘙痒</string>
			<string>瘢痕疙瘩</string>
		</array>
		<key>imageName</key>
		<array>
			<string>毛囊炎</string>
			<string>湿疹</string>
			<string>汗疱疹</string>
			<string>疥疮</string>
			<string>斑秃</string>
			<string>痤疮</string>
			<string>灰指甲</string>
			<string>痱子</string>
			<string>牛皮癣</string>
			<string>疣</string>
			<string>日光性皮炎</string>
			<string>手足癣</string>
			<string>皮肤过敏</string>
			<string>狐臭</string>
			<string>白癜风</string>
			<string>老年斑</string>
			<string>脱发</string>
			<string>皮炎</string>
			<string>尖锐湿疣</string>
			<string>皮肤瘙痒</string>
			<string>瘢痕疙瘩</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>儿科</string>
		<key>data</key>
		<array>
			<string>小儿厌食症</string>
			<string>小儿营养不良</string>
			<string>小儿消化不良</string>
			<string>小儿肺炎</string>
			<string>小儿腹泻</string>
			<string>蛔虫病</string>
			<string>小儿咳嗽</string>
			<string>磨牙</string>
			<string>手足口病</string>
			<string>水痘</string>
			<string>儿童遗尿症</string>
			<string>新生儿黄疸</string>
			<string>鹅口疮</string>
			<string>抽动症</string>
			<string>小儿脑瘫</string>
			<string>小儿多动症</string>
			<string>风疹</string>
			<string>性早熟</string>
			<string>百日咳</string>
			<string>荨麻疹</string>
		</array>
		<key>imageName</key>
		<array>
			<string>小儿厌食症</string>
			<string>小儿营养不良</string>
			<string>小儿消化不良</string>
			<string>小儿肺炎</string>
			<string>小儿腹泻</string>
			<string>蛔虫病</string>
			<string>小儿咳嗽</string>
			<string>磨牙</string>
			<string>手足口病</string>
			<string>水痘</string>
			<string>儿童遗尿症</string>
			<string>新生儿黄疸</string>
			<string>鹅口疮</string>
			<string>抽动症</string>
			<string>小儿脑瘫</string>
			<string>小儿多动症</string>
			<string>风疹</string>
			<string>性早熟</string>
			<string>百日咳</string>
			<string>荨麻疹</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>心理科</string>
		<key>data</key>
		<array>
			<string>抑郁症</string>
			<string>强迫症</string>
			<string>焦虑症</string>
			<string>儿童孤独症</string>
		</array>
		<key>imageName</key>
		<array>
			<string>抑郁症</string>
			<string>强迫症</string>
			<string>焦虑症</string>
			<string>儿童孤独症</string>
		</array>
	</dict>
</array>
</plist>
